.root {
    /* De style.css */
    -toolbar-background: linear-gradient(to bottom, derive(#d0d0d0,-45%), derive(#d0d0d0,-70%));
}

.tool-bar {
    -fx-background-color: -toolbar-background;
    -fx-background-insets: 0;
}

VBox {
    -fx-background-color: darkgrey;
}

#windowContent {
    -fx-padding: 15;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-alignment: center;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-opacity: 0.8;
}

.button:hover {
    -fx-opacity: 1.0;
}

#btnValider.button {
    -fx-background-image: url("../resources/icons/check_icon.png");
}

#btnCancel.button {
    -fx-background-image: url("../resources/icons/cancel_icon.png");
}