
.root {
    -toolbar-background: linear-gradient(to bottom, derive(#d0d0d0,-45%), derive(#d0d0d0,-70%));
}

/*
 * ONGLETS
 */

.tab {
    -fx-border-radius: 8px;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: none;
    -fx-border-width: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: derive(-fx-color, -30%);
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 20, 0.0, 0, 0);
}

.list-view, .table-view, .split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Barre de navigation verticale de la bibliothèque */
#libraryNavigation StackPane {
    -fx-padding: 12px 0px 0px 0px;
}
#libraryNavigation StackPane:hover {
    -fx-cursor: hand;
}
#libraryNavigation .label {
    -fx-font-size: 15px;
    -fx-text-fill: -fx-accent;
}
#libraryNavigation .label.selected {
    -fx-text-fill: black;
}

/* Police de la playlist */
#playlistView .label{
    -fx-font-size: 14px;
}

.list-cell {
    -fx-padding: 5px 5px 5px 5px;
}

/* Drag-and-drop : déplacer en dessous de cet item. */
.list-cell.list-item-border-bottom {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-style: solid;
    -fx-border-color: #444;
    -fx-border-radius: 3px;
    -fx-padding: 5px 5px 3px 5px;
}
/* Drag-and-drop : déplacer au-dessus de cet item. */
.list-cell.list-item-border-top {
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-style: solid;
    -fx-border-color: #444;
    -fx-border-radius: 3px;
    -fx-padding: 3px 5px 5px 5px;
}

/*
 * MENUS & BARRES D'OUTILS
 */

.menu-bar {
    -fx-background-insets: 0, 0;
    -fx-background-color: -toolbar-background;
}

.context-menu {
    -fx-color: derive(#d0d0d0, -70%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color, 30%), derive(-fx-color, -10%));
    -fx-background-radius: 0;
    -fx-padding: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.0, 3, 3);
}

.menu-item {
    -fx-padding: 5 6 5 6;
    -fx-background-radius: 0;
}

.context-menu .separator:horizontal > .line {
    -fx-border-style: solid;
    -fx-border-color: derive(-fx-background,-40%) transparent transparent transparent;
}

/*
 * BARRE D'OUTILS
 */

#userControlPanel {
    -fx-background-color: -toolbar-background;
}

#userControlPanel .button {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-min-width: 38px;
    -fx-min-height: 38px;
    -fx-max-width: 38px;
    -fx-max-height: 38px;
    -fx-opacity: 0.8;
}

#userControlPanel .slider > .track {
    -fx-background-color:
        transparent,
        derive(-fx-color,-22%),
        linear-gradient(to bottom, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-radius: 3;
}

#btnPlay.button {
    -fx-background-image: url("../resources/icons/appbar.control.play.png");
    -fx-min-width: 76px;
    -fx-min-height: 76px;
    -fx-max-width: 76px;
    -fx-max-height: 76px;
}
#btnPlay.pause-button {
    -fx-background-image: url("../resources/icons/appbar.control.pause.png");
}

#btnStop {
    -fx-background-image: url("../resources/icons/appbar.control.stop.png");
}

#btnPrevious {
    -fx-background-image: url("../resources/icons/appbar.control.rewind.png");
}
#btnNext {
    -fx-background-image: url("../resources/icons/appbar.control.fastforward.png");
}

#btnRepeat {
    -fx-background-image: url("../resources/icons/repeat.png");
}
#btnRepeat.repeat-one {
    -fx-background-image: url("../resources/icons/repeat_one.png");
}

#btnShuffle {
    -fx-background-image: url("../resources/icons/shuffle.png");
}

/* Quand la souris passe sur un bouton */
#userControlPanel .button:hover {
    -fx-opacity: 1.0;
}

/* Groupes de deux boutons côte-à-côte */
/*#userControlPanel .first-in-group {
    -fx-background-radius: 19px 0px 0px 19px;
}
#userControlPanel .last-in-group {
    -fx-background-radius: 0px 19px 19px 0px;
}*/

/* Boutons «toggle» actifs */
#userControlPanel .selected {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0.0, 0, 0);
}

/* Font de l'information de la chanson */
#userControlPanel .label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

#userControlPanel .imageview {
    -fx-opacity: 0.8;
}